<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Trending movies</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar slot="start" (ionInput)="handleInput($event)" [debounce]="1000" placeholder="Title"></ion-searchbar>
    <ion-list slot="end">
      <ion-item>
        <ion-select (ionChange)="sort()" interface="popover" placeholder="Sort by" [(ngModel)]="selectValue">
          <ion-select-option value="alphabetically">Alphabetically</ion-select-option>
          <ion-select-option value="popularity">Popularity</ion-select-option>
          <ion-select-option value="releaseDate">Release date</ion-select-option>
          <ion-select-option value="voteAverage">Vote average</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-radio-group (ionChange)="sort()" value="desc" slot="end" [(ngModel)]="radioValue">
      <ion-radio value="asc">
        A-Z
      </ion-radio>
      <ion-radio value="desc">
        Z-A
      </ion-radio>
    </ion-radio-group>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button *ngFor="let movie of (isSearching ? filteredMovies : movies)" [routerLink]="[movie.id]">
      <ion-avatar slot="start">
        <img [src]="imageBaseUrl + '/w92' + movie.poster_path" />
      </ion-avatar>
      <ion-label>
        {{ movie.title }}
        <p>{{ movie.release_date | date:'y' }}</p>
      </ion-label>
      <ion-badge slot="end">
        {{ movie.vote_average }}
      </ion-badge>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll *ngIf="!isSearching" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more movies...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
